.chat-messages-container {
  flex-grow: 1;
  margin-top: 20px;
  overflow: scroll;
  scrollbar-width: none;
}

.welcome-message {
  color: grey;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
